@import "./variables";

@media (any-hover: hover) {
  .banner {

  }
}

.banner {
  min-height: 1100px;
  display:    flex;
  h1 {
    max-width: 800px;
  }
  .go-to-down {
    position: absolute;
    bottom:   70px;
    left:     50%;
    z-index:  100;
    width:    68px;
    height:   37px;
    cursor:   pointer;
  }
  .btn {
    box-shadow: none;
  }
  .overlay {
    width:            100%;
    display:          flex;
    background-image: linear-gradient(-45deg, rgba(82, 112, 222, 0), rgba(32, 32, 32, 0.7));
    img {
      position: absolute;
      top:      0;
      left:     0;
      height:   100%;
      z-index:  -1;
    }
  }
  &:after {
    content:           "";
    background-image:  url(../images/icons/after-2.svg);
    background-repeat: no-repeat;
    background-size:   cover;
    width:             100%;
    height:            228px;
    z-index:           99;
    position:          absolute;
    bottom:            0;
  }
  &-inner {
    display: flex;
    height:  100%;
  }
  &-description {
    display:         flex;
    flex-direction:  column;
    align-items:     flex-start;
    justify-content: center;
  }
}

@media screen and (max-width: 991.98px) {
  .banner {

  }
}

@media screen and (max-width: 567px) {
  .banner {

  }
}