@import "./variables";

@media (any-hover: hover) {
  .banner {

  }
}

.banner {
  min-height: 1090px;
  display: flex;
  h1 {
    max-width: 800px;
  }
  .overlay {
    width: 100%;
    display: flex;
    background-image: linear-gradient(-45deg, rgba(82, 112, 222, 0), rgba(32, 32, 32, 0.7));
    img {
      position: absolute;
      top:      0;
      left:     0;
      height:   100%;
      z-index: -1;
      //border-radius: 0 0 30% 30%;
    }
  }
  //&:after {
  //  content: "";
  //  position: absolute;
  //  bottom: -1rem;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: $primaryColor;
  //  z-index: -1;
  //}
  &-inner {
    display: flex;
    height: 100%;
  }
  &-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (max-width: 991.98px) {
  .banner {

  }
}

@media screen and (max-width: 567px) {
  .banner {

  }
}