@import "./variables";

@media (any-hover: hover) {
  .contacts {

  }
}

.contacts {
  padding-top: 119px;
  .contact {
    padding-top: 8.13%;
    &-title {
      z-index:       1;
      margin-bottom: 1.1111111rem;
      h1, h3 {
        color: $black;
      }
      h1 {
        margin-bottom: 8.63%;
      }
    }
    &-inner {
      position: relative;
    }
    &-form {
      padding-bottom: 10.33%;
      .contact-buttons {
        padding-top:     1.666666rem;
        max-width:       970px;
        margin-bottom:   6.3%;
        display:         flex;
        justify-content: space-between;
        flex-wrap:       wrap;
        a {
          font-size:     1.333333rem;
          font-weight:   600;
          padding:       20px 0;
          border-radius: 50px;
          border:        2px solid $primaryColor;
          color:         $primaryColor;
          margin-bottom: 17px;
          text-align:    center;
          &:nth-child(1), &:nth-child(2) {
            width: 49.3%;
          }
          &:nth-child(3) {
            width: 32%;
          }
          &:nth-child(4) {
            width: 48.15%;
          }
          &:nth-child(5) {
            width: 17.12%;
          }
        }
      }
    }
    &-image {
      position: absolute;
      bottom:   0;
      right:    0;
      z-index:  -1;
      width:    38.9vw;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .contacts {
    padding-top: 48px;
    .container {
      padding: 0 15px;
    }
    .contact {
      padding-top: 10.3%;
      &-title {
        margin-bottom: 1.75rem;
        h1 {
          margin-bottom: 77px;
        }
        h3 {
          font-size: 1rem;
        }
      }
      &-form {
        padding-bottom: 13%;
        .contact-buttons {
          padding-top: 0;
          max-width:   650px;
          margin:      0 0 80px;
          a {
            font-size:     1rem;
            padding:       14px 0;
            margin-bottom: 15px;
            &:nth-child(1), &:nth-child(2) {
              width: 48.93%;
            }
            &:nth-child(3) {
              width: 31.7%;
            }
            &:nth-child(4) {
              width: 47.57%;
            }
            &:nth-child(5) {
              width: 18.47%;
            }
          }
        }
      }
      &-image {
        top:       50%;
        bottom:    initial;
        transform: translate(0, -60%);
        width:     39.5vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-top: 44px;
    .contact {
      padding-top: 40px;
      &-title {
        margin-bottom: 1.857rem;
        h1 {
          margin-bottom: 50px;
        }
      }
      &-form {
        padding-bottom: 46px;
        .contact-buttons {
          max-width: 418px;
          margin:    0 auto 53px;
          a {
            padding: 10px 0;
            margin:  0 0 12px 0;
            width:   100%;
            &:nth-child(1), &:nth-child(2), &:nth-child(4) {
              width: 100%;
            }
            &:nth-child(3) {
              width: 59.32%;
              order: 4;
            }
            &:nth-child(5) {
              width: 36.21%;
              order: 5;
            }
          }
        }
      }
      &-image {
        display: none;
      }
    }
  }
}


