@import "./variables";

@media (any-hover: hover) {
  .contacts {

  }
}

.contacts {
  padding-top: 138px;
  .contact {
    padding-top: 9.0625rem;
    &-title {
      z-index:       1;
      margin-bottom: 1.25rem;
      h1, h3 {
        color: $black;
      }
      h1 {
        margin-bottom: 8.5625rem;
      }
    }
    &-inner {
      position: relative;
    }
    &-form {
      padding-bottom: 10.25rem;
      .contact-buttons {
        padding-top:     1.87500rem;
        max-width:       970px;
        margin-bottom:   6.25rem;
        display:         flex;
        justify-content: space-between;
        flex-wrap:       wrap;
        a {
          font-size:     1.5rem;
          font-weight:   600;
          padding:       1.25rem 0;
          border-radius: 50px;
          border:        2px solid $primaryColor;
          color:         $primaryColor;
          margin-bottom: 1rem;
          text-align:    center;
          &:nth-child(1) {
            padding: 1.25rem 2.31rem;
          }
          &:nth-child(2) {
            padding: 1.25rem 2.232rem;
          }
          &:nth-child(3) {
            padding: 1.25rem 2.161rem;
          }
          &:nth-child(4) {
            padding: 1.25rem 2.45rem;
          }
          &:nth-child(5) {
            padding: 1.25rem 3.12rem;
          }
        }
      }
      form {
        display:         flex;
        justify-content: space-between;
        flex-wrap:       wrap;
        max-width:       909px;
        label {
          position:      relative;
          width:         calc(50% - 10px);
          display:       flex;
          margin-bottom: 1.87500rem;
          height:        88px;
          &:last-child {
            margin-bottom: 0;
          }
          &.label-message {
            width:  initial;
            height: initial;
          }
          span {
            position:   absolute;
            top:        0;
            left:       1.75rem;
            transform:  translate(0, -50%);
            background: $white;
            color:      #666;
            padding:    0 9px;
            font-size:  1.5rem;
          }
        }
        input, textarea {
          border:    1px solid #262626;
          padding:   10px;
          font-size: 1.5rem;
        }
        input {
          width: 100%;
        }
        textarea {
          resize:        none;
          margin-bottom: 2.5rem;
          padding:       15px 10px 12px;
        }
        .form-buttons {
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
          .btn {
            padding: 1.375rem 4.57rem;
          }
          .btn-second {
            padding:       .97rem 2.85rem;
            margin-bottom: 1.875rem;
          }
        }

      }
    }
    &-image {
      position: absolute;
      top:      0;
      right:    0;
      z-index:  -1;
    }
  }
}


