@import "./variables";

@media (any-hover: hover) {

}

.electrical {
  .banner {
    margin-bottom: 8.12500rem;
    h1 {
      margin-bottom: 6.25rem;
      max-width:     43.75rem;
    }
  }
  &-content {
    margin-bottom: 9.0625rem;
    &-inner {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      flex-wrap:       wrap;
    }
    &-image {
      width: 50%;
    }
    &-description {
      width: 48.56%;
      p {
        font-size:     1.5rem;
        margin-bottom: 1.5625rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        margin-bottom: 1.87500rem;
      }
      li {
        position:     relative;
        padding-left: 1.4rem;
        &:after {
          content:    "";
          position:   absolute;
          top:        50%;
          left:       0;
          transform:  translate(0, 50%);
          width:      9px;
          height:     3px;
          background: $primaryColor;
        }
      }
    }
  }
  &-slider {
    margin-bottom: 10.3125rem;
    img {
      //box-shadow: 15px 15px 20px 0 rgba(82, 112, 222, 0.56);
    }
    .electrical-swiper {
      &.swiper-container {
        .swiper-wrapper {
          height: 50vw;
          .swiper-slide {
            display:         flex;
            justify-content: center;
            align-items:     center;
          }
        }
      }
      .electrical-slider-image {
        width: 89.1%;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 567px) {

}