@import "./variables";

@media (any-hover: hover) {

}

.electrical {
  .banner {
    margin-bottom: 8.12500rem;
    h1 {
      margin-bottom: 6.25rem;
      font-size: 4.5rem;
    }
    .overlay {
      background-image: linear-gradient(-45deg, rgba(82, 112, 222, 0), rgba(37, 41, 53, 0.71));
    }
  }
  &-content {
    margin-bottom: 9.0625rem;
    &-inner {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      flex-wrap:       wrap;
    }
    &-image {
      width: 50%;
    }
    &-description {
      width: 48.56%;
      p {
        font-size:     1.5rem;
        margin-bottom: 1.5625rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        margin-bottom: 1.87500rem;
      }
    }
  }
  &-slider {
    margin-bottom: 10.3125rem;
    .electrical-swiper {
      &.swiper-container {
        .swiper-wrapper {
          height: 50vw;
          .swiper-slide {
            display:         flex;
            justify-content: center;
            align-items:     center;
          }
        }
      }
    }
    &-image {
      width:      89.1%;
      box-shadow: 15px 15px 20px 0 rgba(82, 112, 222, 0.55);
    }
  }
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 567px) {

}