@font-face {
  font-family: "Segoe UI";
  src:         url("../fonts/Segoe-UI-Regular.ttf") format('opentype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "Segoe UI";
  src:         url("../fonts/Segoe-UI-Semibold.ttf") format('opentype');
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  font-family: "Segoe UI";
  src:         url("../fonts/Segoe-UI-Bold.ttf") format('opentype');
  font-weight: 700;
  font-style:  normal;
}

