@import "variables";

@media (any-hover: hover) {
  .footer {

  }
}

.footer {
  background: linear-gradient(#262626, #252935);
  color:      $white;
  p, a {
    color:         #D3D3D4;
    margin-bottom: 10px;
  }
  h4 {
    color:         #D6D8DD;
    margin-bottom: 15px;
  }
  &-top {
    padding:    5.62500rem 0 10.9375rem;
    text-align: center;
    max-width:  770px;
    margin:     0 auto;
    h3 {
      margin-bottom: 4.6875rem;
      color:         #D3D4D5;
    }
    .btn {
      box-shadow: 0 10px 20px 0 rgba(82, 112, 222, 0.37);
    }
  }
  &-center {
    padding: 2.1875rem 0 2.5rem;
    &-inner {
      display:         flex;
      justify-content: space-between;
    }
    &-logo {
      .footer-logo {
        display:       flex;
        margin-bottom: 35px;
      }
      .footer-email {
        display:     flex;
        align-items: center;
        font-size:   1.5rem;
        img {
          width:        25px;
          margin-right: 10px;
        }
      }
    }
    &-about {
      display:        flex;
      flex-direction: column;
    }
    &-contact {
      .footer-socials {
        display:     flex;
        align-items: flex-end;
        a {
          margin-right: 20px;
          img {
            width: 30px;
          }
        }
      }
    }
  }
  &-bottom {
    padding:    20px 0;
    text-align: center;
    border-top: 1px solid #E9ECF1;
    p {
      color: #D3D3D4;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .footer {

  }
}

@media screen and (max-width: 567px) {
  .footer {

  }
}