@import "variables";

@media (any-hover: hover) {
  .btn:hover {
    box-shadow: 0 10px 20px 0 rgba(82, 112, 222, 0.37);
  }
  .link-more:hover {
    opacity: .7;
  }
  input:hover, textarea:hover {
    border: 1px solid #262626;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: $primaryColor !important;
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Segoe UI', sans-serif;
  transition:  all linear 0.3s;
}

html,
body {
  height: 100%;
  width:  100%;
}

html {
  font-size: 18px;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}

main {
  flex:     1 0 auto;
  position: relative;
}

section {
  position: relative;
}

li {
  list-style:  none;
  font-size:   1.33333333rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor:          pointer;
  font-size:       1.1111111rem;
  &:active {
    opacity: .7;
  }
}

img {
  width:   100%;
  display: flex;
}

p {
  font-size:   1.11111111rem;
  font-weight: 400;
}

h1 {
  font-size:   4.555556rem;
  font-weight: 600;
  color:       $white;
}

h2 {
  font-size:   2.5rem;
  font-weight: 700;
  span {
    color: $primaryColor;
  }
}

h3 {
  color:       $white;
  font-size:   1.88888889rem;
  font-weight: 400;
}

h4 {
  font-size:   1.555555556rem;
  font-weight: 600;
}

h5 {
  font-size:   1.33333333rem;
  font-weight: 700;
}

span {
  color: $primaryColor;
}

form {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;
  max-width:       909px;
  label {
    position:      relative;
    width:         calc(50% - 10px);
    display:       flex;
    margin-bottom: 1.666666rem;
    height:        88px;
    &.label-message {
      width:  100%;
      height: initial;
    }
    span {
      position:   absolute;
      top:        0;
      left:       1.55555558rem;
      transform:  translate(0, -50%);
      background: $white;
      color:      #666;
      padding:    0 9px;
      font-size:  1.3333333rem;
    }
  }
  input, textarea {
    border:     1px solid rgba(38, 38, 38, 0.51);
    padding:    10px;
    font-size:  1.3333333rem;
    transition: .1s linear;
    width:      100%;
    &:focus {
      border: 2px solid $primaryColor;
    }
  }
  textarea {
    resize:        none;
    margin-bottom: 10px;
    padding:       15px 10px 12px;
  }
  .form-buttons {
    display:        flex;
    flex-direction: column;
    align-items:    flex-start;
    .btn {
      padding: 22px 74px;
    }
    .btn-second {
      padding:       16px 48px;
      margin-bottom: 1.6666666rem;
    }
  }
}

.btn {
  display:        inline-block;
  font-size:      1.3333333rem;
  font-weight:    600;
  background:     $primaryColor;
  color:          $white;
  text-align:     center;
  text-transform: uppercase;
  border-radius:  50px;
  padding:        22px 55px;
  border:         none;
  cursor:         pointer;
  &:active {
    box-shadow: 0 5px 10px 0 rgba(82, 112, 222, 0.37);
  }
}

.btn-second {
  border:     3px solid $primaryColor;
  color:      $primaryColor;
  background: $white;
  box-shadow: none;
}

.socials {
  position:       fixed;
  top:            325px;
  right:          5%;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  max-width:      58px;
  z-index:        80;
  a {
    cursor: pointer;
  }
  &-linkedin {
    margin-bottom: 68.3%;
    img {
      width: 43px;
    }
  }
  &-email {
    img {
      width: 58px;
    }
  }
}

.description-list {
  li {
    position:      relative;
    padding-left:  1.3333333rem;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &:after {
      content:    "";
      position:   absolute;
      top:        50%;
      left:       0;
      transform:  translate(0, 50%);
      width:      9px;
      height:     3px;
      background: $primaryColor;
    }
  }
}

.footer {
  flex: 0 0 auto;
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1680px;
  padding:   0 45px;
  margin:    0 auto;
  position:  relative;
}

.link-more {
  display:         flex;
  justify-content: flex-end;
  align-items:     center;
  font-size:       1.3333333rem;
  font-weight:     600;
  color:           $primaryColor;
  cursor:          pointer;
  img {
    margin-left: 10px;
    width:       35px;
    transform:   translate(0, 40%);
  }
}

.swiper-container {
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      background: none;
      border:     3px solid $primaryColor;
      opacity:    1;
      width:      20px;
      height:     20px;
      margin:     0 9px !important;
      &-active {
        background: $primaryColor;
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #262626 !important;
  &:after {
    font-size: 2.92rem !important;
  }
}

@media screen and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 2.563rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
    padding:   15px 48px;
  }
  .swiper-container {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 0 5px !important;
        width:  11px;
        height: 11px;
        border: 2px solid $primaryColor;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev {
    &:after {
      font-size: 1.36rem !important;
    }
  }
  .link-more {
    font-size: 1rem;
    img {
      width: 16px;
    }
  }
  .socials {
    max-width: 38px;
    top:       250px;
    &-linkedin {
      margin-bottom: 40%;
      img {
        width: 25px;
      }
    }
    &-email {
      img {
        width: 38px;
      }
    }
  }
  form {
    max-width: 418px;
    label {
      width:         100%;
      margin-bottom: 1.375rem;
      height:        57px;
      &.label-message {
        height:        110px;
        margin-bottom: 22.3%;
        textarea {
          height: 100%;
        }
      }
      span {
        position:   absolute;
        top:        0;
        left:       14px;
        transform:  translate(0, -50%);
        background: $white;
        color:      #666;
        padding:    0 9px;
        font-size:  1rem;
      }
    }
    input, textarea {
      font-size: 1rem;
    }
    .form-buttons {
      .btn {
        padding: 15px 57px;
      }
      .btn-second {
        font-size:     1rem;
        padding:       13px 40px;
        margin-bottom: 1rem;
        border:        2px solid $primaryColor;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .container {
    padding: 0 15px;
  }
  h1 {
    font-size: 2.72rem;
  }
  h3 {
    font-size: 1.29rem;
  }
  h4 {
    font-size: 1.29rem;
  }
  .btn {
    padding: 13px 32px;
  }
  .swiper-container {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 0 4px !important;
        width:  8px;
        height: 8px;
        border: 1px solid $primaryColor;
      }
    }
  }
  .link-more {
    padding-right: 15px;
    img {
      margin-left: 5px;
    }
  }
  form {
    margin:         0 auto;
    flex-direction: column;
    align-items:    center;
    label {
      margin-bottom: 1.785rem;
      height:        40px;
      &.label-message {
        height:        77px;
        margin-bottom: 40px;
      }
      span {
        padding: 0 6px;
      }
    }
    .form-buttons {
      align-items: center;
      .btn {
        padding: 12px 61px;
      }
      .btn-second {
        padding: 10px 39px;
      }
    }
  }
}