@import "variables";

@media (any-hover: hover) {
  .btn:hover {
    opacity: .7;
  }
  a:hover {
    opacity: .7;
  }
  .link-more:hover {
    opacity: .7;
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Segoe UI', sans-serif;
  transition:  all linear 0.3s;
}

html,
body {
  height: 100%;
  width:  100%;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
  font-size:      16px;
}

main {
  flex:     1 0 auto;
  position: relative;
}

section {
  position: relative;
}

li {
  list-style:  none;
  font-size:   1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor:          pointer;
  font-size:       1.25rem;
  &:active {
    opacity: .7;
  }
}

img {
  width:   100%;
  display: flex;
}

p {
  font-size:   1.25rem;
  font-weight: 400;
}

h1 {
  font-size:   5.125rem;
  font-weight: 600;
  color:       $white;
}

h2 {
  font-size:   2.8125rem;
  font-weight: 700;
  span {
    color: $primaryColor;
  }
}

h3 {
  color:       $white;
  font-size:   2.12500rem;
  font-weight: 400;
}

h4 {
  font-size:   1.75rem;
  font-weight: 600;
}

h5 {
  font-size:   1.5rem;
  font-weight: 700;
}

.btn {
  display:        inline-block;
  font-size:      1.5rem;
  font-weight:    600;
  background:     $primaryColor;
  color:          $white;
  text-transform: uppercase;
  border-radius:  50px;
  padding:        1.37500rem 3.76rem;
  border:         none;
  cursor:         pointer;
  box-shadow:     0 10px 20px 0 rgba(82, 112, 222, 0.37);
}

.btn-second {
  border: 3px solid $primaryColor;
  color: $primaryColor;
  background: $white;
  box-shadow: none;
}

.description-list {
  li {
    position:     relative;
    padding-left: 1.4rem;
    &:after {
      content:    "";
      position:   absolute;
      top:        50%;
      left:       0;
      transform:  translate(0, 50%);
      width:      9px;
      height:     3px;
      background: $primaryColor;
    }
  }
}

.footer {
  flex: 0 0 auto;
}


.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1620px;
  padding:   0 15px;
  margin:    0 auto;
  position:  relative;
}

.link-more {
  display:         flex;
  justify-content: flex-end;
  align-items:     baseline;
  font-size:       1.5rem;
  font-weight:     600;
  color:           $primaryColor;
  cursor:          pointer;
  img {
    margin-left: 10px;
    width:       2.1875rem;
  }
}

.swiper-container {
  .swiper-button-next, .swiper-button-prev {
    color: #262626;
    &:after {
      font-size: 3.3125rem;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  &.work-swiper {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width:  20px;
        height: 20px;
        margin: 0 9px;
      }
    }
  }
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      background: none;
      border:     3px solid $primaryColor;
      opacity:    1;
      &.swiper-pagination-bullet-active {
        background: $primaryColor;
      }
    }
  }
}


@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 567px) {

}