@import "./variables";

@media (any-hover: hover) {
  .header {

  }
}


.header {
  position: fixed;
  top:      0;
  left:     0;
  z-index:  100;
  width:    100%;
  color:    $white;
  padding:  40px 0;
  &.header-dark {
    a {
      color: $black;
    }
    .search {
      .form-search {
        border-bottom: 1px solid $black;
        input {
          color: $black;
          &::placeholder {
            color: $black;
          }
        }
      }
    }
  }
  .container {
    max-width: 1805px;
  }
  .logo {
    font-size: 2.75rem;
  }
  a {
    color: $white;
  }
  &-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  &-menu {
    .menu-list {
      display: flex;
    }
    .menu-item {
      font-size: 1.5rem;
      margin:    0 10px;
    }
  }
  .search {
    .form-search {
      border-bottom: 1px solid $white;
      display:       flex;
      width:         12.9375rem;
      img {
        width:        19px;
        height:       19px;
        margin-right: 10px;
      }
    }
    .form-search input {
      all:            unset;
      font-size:      1rem;
      padding-bottom: 5px;
      &::placeholder {
        color:     $white;
        font-size: 1rem;
      }
    }
  }
}


@media screen and (max-width: 991.98px) {
  .header {

  }
}

@media screen and (max-width: 567px) {
  .header {

  }
}