@import "./variables";

@media (any-hover: hover) {

}

.renderings {
  h2 {
    margin-bottom: 4.5%;
  }
  .description-inner {
    max-width: 1000px;
  }
  .banner {
    background: #202020;
    h1 {
      font-size:     4rem;
      margin-bottom: 12.5%;
    }
    .overlay {
      background-image: linear-gradient(-45deg, rgba(84, 119, 201, 0.14), rgba(56, 72, 112, 0), rgba(37, 41, 53, 0.61), rgba(37, 41, 53, 0.51));
    }
    &-inner {
      padding: 23.2% 0;
    }
  }
  &-content {
    padding-bottom: 7%;
    background:     #202020;
    .container {
      max-width: 1840px;
    }
    &-inner {
      display:     flex;
      align-items: center;
      flex-wrap:   wrap;
    }
    &-image {
      width:        48.13%;
      margin-right: 13px;
      position:     relative;
      .rendering-content-quote {
        padding:       0.64rem 1.11111111rem;
        background:    rgba(82, 112, 222, 0.4);
        border-radius: 10px;
        position:      absolute;
        bottom:        7.1%;
        left:          0;
        max-width:     484px;
        p {
          color:       $white;
          line-height: 1.333333;
        }
      }
    }
    &-description {
      width:     50%;
      max-width: 770px;
      p {
        font-size:     1.3333333rem;
        color:         #D3D4D5;
        margin-bottom: 1.3333333rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .industrial-lighting {
    background: #202020;
    z-index:    1;
    &-description {
      margin-bottom: 7.3%;
      p {
        color: $white;
      }
      h2 {
        color: $white;
      }
    }
    &-slider {
      .industrial-lighting-swiper {
        overflow: hidden;
        .rendering-image {
          background: rgba(32, 32, 32, 0.71);
          //width:      19.5%;
          display:    flex;
          cursor:     pointer;
          &.active {
            background: none;
            //width:      61.1vw;
          }
          img {
            position: relative;
            z-index:  -1;
          }
        }
      }
    }
  }
  .commercial-lighting {
    padding: 7.3% 0 7.56%;
    &-description {
      margin-bottom: 9.12%;
    }
    &-slider {
      .container {
        padding: 0;
      }
      .swiper-container {
        margin: 0 7.39%;
        .swiper-pagination {
          display: none;
          bottom:  0;
        }
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }
  }
  .sports-lighting {
    &-description {
      margin-bottom: 7.82%;
    }
  }
  .photorealistic-renderings {
    text-align: center;
    &-description {
      text-align: left;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .renderings {
    h2 {
      margin-bottom: 5.5%;
    }
    .description-inner {
      margin-bottom: 9.5%;
    }
    .banner {
      h1 {
        font-size:     2.6rem;
        max-width:     380px;
        margin-bottom: 13.1%;
      }
      &-inner {
        padding: 17.7% 0 18.6%;
      }
    }
    &-content {
      padding: 1rem 0 10%;
      &-inner {
        align-items: flex-start;
      }
      &-image {
        width: 47.7%;
        .rendering-content-quote {
          padding:   8px 10px;
          bottom:    -30%;
          max-width: 297px;
          p {
            font-size: .88rem;
          }
        }
      }
      &-description {
        p {
          font-size:     1rem;
          margin-bottom: 1rem;
        }

      }
    }
    .industrial-lighting {
      &-description {
        margin-bottom: 0;
        .description-inner {
          max-width: 515px;
        }
      }
    }
    .commercial-lighting {
      padding: 11.3% 0;
      &-slider {
        .swiper-container {
          margin: 0 7.2%;
        }
        &-image {
          img {
            border-radius: 5px;
          }
        }
      }
    }
    .photorealistic-renderings {
      &-image {
        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .renderings {
    h2 {
      margin-bottom: 12.1%;
    }
    .description-inner {
      margin-bottom: 14%;
    }
    .banner {
      h1 {
        font-size:     2.429rem;
        margin-bottom: 22.5%;
      }
      &-inner {
        padding: 48% 0 41%;
      }
    }
    &-content {
      padding: .6rem 0 17.5%;
      &-image {
        width:  100%;
        margin: 0 0 27%;
        .rendering-content-quote {
          bottom: -20%;
          p {
            font-size: 1rem;
          }
        }
      }
      &-description {
        width: 100%;
        p {
          margin-bottom: 1.7rem;
        }
      }
    }
    .industrial-lighting {
      &-description {
        margin-bottom: 0;
      }
    }
    .commercial-lighting {
      padding: 20% 0;
      &-slider {
        .swiper-container {
          margin:         0;
          padding-bottom: 14%;
          .swiper-pagination {
            display: inline-block;
          }
        }
        .swiper-button-prev, .swiper-button-next {
          display: none;
        }
        &-image {
          img {
            border-radius: 3px;
          }
        }
      }
    }
  }
}