@import "./variables";

@media (any-hover: hover) {
  .services {

  }
}

.services {
  padding-bottom: 7.82%;
  &-inner {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;
  }
  &-item {
    position:      relative;
    margin-bottom: 2%;
    a {
      display: flex;
      height:  100%;
    }
    &:nth-child(1) {
      width: 32.3%;
    }
    &:nth-child(2) {
      width: 65.73%;
    }
    &:nth-child(3) {
      width: 66.5%;
    }
    &:nth-child(4) {
      width: 31.51%;
    }
    .item-title {
      position:   absolute;
      bottom:     0;
      left:       0;
      width:      100%;
      padding:    1.93vw 2.1vw;
      background: rgba(32, 32, 32, 0.75);
      h5 {
        color:       $white;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .services {

  }
}

@media screen and (max-width: 767px) {
  .services {
    .container {
      padding: 0;
    }
    h2 {
      padding: 0 15px;
    }
    &-item {
      width: 100% !important;
      height: 84vw;
      margin-bottom: 9%;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        object-fit: cover;
      }
      .item-title {
        padding: 5vw 15px;
      }
    }
  }
}
